/*Schrijf hier jouw CSS*/

/* ----------Deelopdracht: 5--------- */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.main-content article {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
}

.main-content nav {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    order: 1;
}

.main-content aside {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    order: 3;
}

.header-content,
.footer-content {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}
